<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 线程执行器配置，用于任务注册 -->
    <bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="3" />
        <property name="maxPoolSize" value="5" />
        <property name="queueCapacity" value="15" />
    </bean>

    <bean id="myTaskJob" class="com.el.quartz.taskjob.MyTaskJob"></bean>


    <bean id="myTaskJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="group" value="job_work"/>
        <property name="name" value="job_work_name"/>
        <!--false表示等上一个任务执行完后再开启新的任务-->
        <property name="concurrent" value="false"/>
        <property name="targetObject">
            <ref bean="myTaskJob"/>
        </property>
        <property name="targetMethod">
            <value>run</value>
        </property>
    </bean>


    <!--下载图片跑批-->
    <bean id="myTaskJobCron" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="myTaskJobDetail" />
        <!--每日凌晨-->
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>


    <!-- ####设置调度 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <!--清理上传图片名称-->
                <ref bean="myTaskJobCron" />
            </list>
        </property>
        <property name="taskExecutor" ref="executor" />
    </bean>


</beans>